{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h2>
        Inventory Products
    </h2>

    <a
        href="/products/add/"
        class="btn btn-success"
    >
        Add Product
    </a>

</div>

<input
    type="text"
    id="searchInput"
    class="form-control mb-3"
    placeholder="Search products..."
>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>

            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>

        </tr>

    </thead>

    <tbody>

        {% for product in products %}

        <tr>

            <td>{{ product.name }}</td>

            <td>{{ product.category }}</td>

            <td>{{ product.quantity }}</td>

            <td>${{ product.price }}</td>

            <td>

                <a
                    href="/products/update/{{ product.id }}/"
                    class="btn btn-warning btn-sm"
                >
                    Update
                </a>

               <a
                href="/products/delete/{{ product.id }}/"
                class="btn btn-danger btn-sm"
                onclick="return confirmDelete();"
                                >
                Delete
            </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<script src="{% static 'js/product_search.js' %}"></script>
{% endblock %}