{% extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h2>
        Export Records
    </h2>

    {% if perms.exports.add_exportrecord %}
    <a
        href="/exports/add/"
        class="btn btn-success"
    >
        Add Export
    </a>
    {% endif %}

</div>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>

            <th>Product</th>
            <th>Customer</th>
            <th>Quantity</th>
            <th>Export Date</th>

        </tr>

    </thead>

    <tbody>

        {% for item in exports %}

        <tr>

            <td>{{ item.product.name }}</td>

            <td>{{ item.customer_name }}</td>

            <td>{{ item.quantity_exported }}</td>

            <td>{{ item.export_date }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}