<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

        <span class="navbar-brand">
            Stock Management System
        </span>

        <div>

            <a href="/dashboard/" class="btn btn-secondary">
                Dashboard
            </a>

            <a href="/products/" class="btn btn-primary">
                Products
            </a>

            <a href="/imports/" class="btn btn-success">
                Imports
            </a>

            <a href="/exports/" class="btn btn-warning">
                Exports
            </a>

            <a href="/messages/" class="btn btn-info">
                Inbox
            </a>

            <a href="/profile/update/" class="btn btn-light">
                Profile
            </a>

            <a href="/logout/" class="btn btn-danger">
                Logout
            </a>

        </div>

    </div>

</nav>