{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>
            Set New Password
        </h2>

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Please correct the errors below and try again.
        </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success"
            >
                Change Password
            </button>

        </form>

    </div>

</div>

{% endblock %}