{% extends 'base.html' %}
{% load currency_filters %}

{% block content %}

<div class="d-flex justify-content-between mb-3">

    <h2>
        Import Records
    </h2>

    {% if perms.imports.add_importrecord %}
    <a
        href="/imports/add/"
        class="btn btn-success"
    >
        Add Import
    </a>
    {% endif %}

</div>

<table class="table table-bordered table-striped">

    <thead class="table-dark">

        <tr>

            <th>Product</th>
            <th>Supplier</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
            <th>Tax ({{ default_tax_rate_percent|floatformat:2 }}%)</th>
            <th>Total</th>
            <th>Import Date</th>

        </tr>

    </thead>

    <tbody>

        {% for item in imports %}

        <tr>

            <td>{{ item.product.name }}</td>

            <td>{{ item.supplier_name }}</td>

            <td>{{ item.quantity_imported }}</td>

            <td>{{ item.unit_price|currency }}</td>

            <td>{{ item.subtotal_amount|currency }}</td>

            <td>{{ item.tax_amount|currency }}</td>

            <td>{{ item.total_amount|currency }}</td>

            <td>{{ item.import_date }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}